@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 'Playfair Display', 'Permanent Marker', 'Roboto' */

:root {
    /* text color variables */
    --heading-text-color: white;
    --heading-background-color: #ff8200;
    --body-text-color: #58595b;

    /* fonts */
    --font-for-h1: "permanent marker";
    --font-for-other-headings: "Roboto", Helvetica, sans-serif;
    --font-for-body: "Playfair Display", "Times New Roman", Times, serif;
}

body {
    margin: 0;
    font-family: var(--font-for-body);
    color: var(--body-text-color);
}

main {
    width: 80%;
    margin: 0 auto;;
}

h1 {
    padding: 1rem;
    font-family: var(--font-for-h1);
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    letter-spacing: .25rem;
}

h2, h3, h4, h5, h6 {
    font-family: var(--font-for-other-headings);
}

#color-schema-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.color-card {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 1rem;
}

#background-card, #heading-card, #body-card {
    display: block;
    height: 100px;
    padding: 1rem;
    border: 2px solid black;
}

#background-card {
    /* UT Orange */
    background-color: var(--heading-background-color);
}

#heading-card {
    background-color: var(--heading-text-color);
}

#body-card {
    background-color: var(--body-text-color);
}


    