@import url('https://fonts.googleapis.com/css2?&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 'Playfair Display', 'Roboto' */

:root {
    /* color variables */
    /* need a TON more variables to accommodate dark mode properly */
    --main-background-color: #ffffff;
    --secondary-background-color: #58595b;
    --body-text-color: #58595b;
    --panel-background-color: #ffffff;

    --cta-button-text-color: #ffffff;
    --cta-button-default-color: #ff8200;
    --cta-button-onhover-color: #ff6200;

    --nav-text-default-color: #ffffff;
    --nav-text-onhover-color: #ffffff;
    --nav-background-default-color: #58595b;
    --nav-background-onhover-color: #ff8200;
    
    --nav-current-page-text-default-color: #ff8200;
    --nav-current-page-text-onhover-color: #ffffff;
    --nav-current-page-background-default-color: #ffffff;
    --nav-current-page-background-onhover-color: #ff8200;

    --hero-background-color: #ffffff;

    --linked-card-default-border-color: #000000;
    --linked-card-onhover-border-color: #ff8200;    

    /* fonts */
    --font-for-headings: "Roboto", Helvetica, sans-serif;
    --font-for-body: "Playfair Display", "Times New Roman", Times, serif;
}

body {
    font-family: var(--font-for-body);
    color: var(--body-text-color);
    background-color: var(--main-background-color);
}

.hero {
    align-content: center;
}

.hero img {
    background-color: var(--panel-background-color);
    color: var(--heading-text-color); /* only applies to alt text, as far as I can tell */
    padding: 1rem;
    width: 66%;
    /* height: auto; */
    margin: 0 auto;
}

main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / auto;
    gap: 1rem;
    background-color: var(--secondary-background-color);
    padding: 1rem;
}

h1, h2 {
    padding: 1rem;
    background-color: var(--panel-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-for-headings);
}

header {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.logo-label {
    display: flex;
    background-color: var(--panel-background-color);
    align-items: center;
    margin: 1rem;
}

nav {
    grid-template: 100% / auto;
    margin: 1rem auto;
    background-color: var(--nav-background-default-color);
    padding: 1em;
    text-align: center;
}

nav a {
    color: var(--nav-text-default-color);
    padding: 1em;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    background-color: var(--nav-background-onhover-color);
    color: var(--nav-text-onhover-color);
}

nav a:active,
.current-page{
    background-color: var(--nav-current-page-background-default-color);
    color: var(--nav-current-page-text-default-color);
}

#cta-join-chamber {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    background-color: var(--cta-button-default-color);
    color: var(--cta-button-text-color);
    padding: 1rem;
    border-radius: 15px;
    grid-column: 1/2;
    text-decoration: none;
}

#cta-join-chamber:hover {
    background-color: var(--cta-button-onhover-color);
}

.card {
    border: 5px solid black;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--panel-background-color);
}

.linked-card {
    text-decoration: none;
    color: inherit;
}

.linked-card .card:hover {
    border: 5px solid var(--linked-card-onhover-border-color);
}

.spotlight-ads {
    display: grid;
    gap: 1rem;
}

#burger {
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 7px 6px;
    background-color: #eee;
}

#burger::before {
    content: "☰";
}

#burger.show::before {
    content:"X";
}

.navi {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
    display: grid;
}

.navi li {
    display: none;
}

.navi li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.show li {
    display: block;
    width: 100%;
}

.show li a {
    display: block;
}

footer {
    margin: 1rem auto;
    background-color: var(--panel-background-color);
    padding: 1rem;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}