@media screen and (min-width: 901px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #cta-join-chamber, .spotlight-ads, #hero-image{
        grid-column: 1/4;
    }

    .current-events {
        grid-column: 1/3;
    }

    .weather-card {
        grid-column: 3/4;
    }
}