#pic-of-self {
    width: 100px;
    height: auto;
    padding: 25px;
}

#my-name {
    padding: 25px;
}

header {
    display:flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

nav {
    grid-template: 100% / auto;
    background-color: black;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: yellow;
    color: black;
    font-weight: 700;
}

main {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / auto;
}

main h2 {
    text-align: center;
}

.card {
    margin: 1rem;
    padding: 1rem;
    border: 5px outset navy;
}

.card h3 {
    color: white;
    background-color: darkslateblue;
    text-align: center;
    padding: 1em;
}

.navi {
    display: flex;
    flex-direction: column;
}

.navi li a {
    display: block;
}

.active {
    background-color: #444;
}

ul {
    padding-inline-start: 0;
    display: grid;
    list-style: none;
}

footer {
    width: 75%;
    margin: 0 auto;
}